<webobject name = "HasReparts">
<table width = "100%" class = "reparts">
    <tbody>
        <webobject name = "Reparts">
        <webobject name = "Tr">
            <td style = "text-align:left;width:50%;">
                <webobject name = "Nomenclature"></webobject>
            </td>
            <td style = "text-align:right;width:25%;">
                <webobject name = "MontantStr"></webobject>
            </td>
            <td style = "text-align:right;width:25%">
                <webobject name = "MontantPctStr"></webobject>%
            </td>
        </webobject>
        </webobject>
    </tbody>
</table>
</webobject>
<webobject name = "Else">
    Aucun(e)
</webobject>