<webobject name = "ContainerDetailDocument">
      <webobject name = "DocumentDetailToolBar">
        <webobject name = "Visualiser"/>      
      </webobject>
<center>
<webobject name = "FormDocument">

  <table border="0" width="100%">
	<tbody>
  	  <tr>
		<td ><label for="Objet" class="etiquette">Objet</label></td>
		<td colspan = "3"><webobject name = "Objet"/></td>
  	  </tr>
  	  <tr>
		<td ><label for="Date" class="etiquette">Date</label></td>
		<td ><webobject name = "Date"/></td>
		<td class = "alignToRight"><label for="Reference" class="etiquette">R&eacute;f&eacute;rence</label></td>
		<td> </td>
  	  </tr>
  	  <tr>
		<td ><label for="MotsCles" class="etiquette">Mots cl&eacute;s</label></td>
		<td colspan = "3"><webobject name = "MotsCles"/></td>
  	  </tr>
  	</tbody>
  </table>
  
</webobject>
</center>
</webobject>

<webobject name = "JSDisabledAutocompleteTF"></webobject>
