<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colonnes</key>
	<array>
		<dict>
			<key>libelle</key>
			<string>Exercice</string>
			<key>associations</key>
			<dict>
				<key>value</key>
				<string>ctrl.uneContribution.tranche.exerciceCocktail.exeExercice</string>
			</dict>
			<key>orderKeyPath</key>
			<string>tranche.exerciceCocktail.exeExercice</string>
			<key>headerCssClass</key>
			<string>alignToCenter useMinWidth nowrap</string>
			<key>rowCssClass</key>
			<string>alignToCenter useMinWidth nowrap</string>
		</dict>
		<dict>
			<key>libelle</key>
			<string>Montant</string>
			<key>component</key>
			<string>CktlAjaxTVTextFieldCell</string>
			<key>updateContainer</key>
			<string>Cellule</string>
			<key>associations</key>
			<dict>
				<key>value</key>
				<string>ctrl.uneContribution.rptMontantParticipation</string>
				<key>formatter</key>
				<string>application.app2DecimalesFormatter</string>
				<key>classCss</key>
				<string>&quot;alignToRight nowrap&quot;</string>
				<key>valueWhenEmpty</key>
				<string>&quot;0,00&quot;</string>
			</dict>
			<key>headerCssClass</key>
			<string>alignToCenter nowrap</string>
			<key>rowCssClass</key>
			<string>alignToRight nowrap</string>
			<key>orderKeyPath</key>
			<string>rptMontantParticipation</string>
		</dict>
	</array>
</dict>
</plist>
