<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colonnes</key>
	<array>
		<dict>
			<key>libelle</key>
			<string>Nom</string>
			<key>component</key>
			<string>CktlAjaxTVStringCell</string>
			<key>associations</key>
			<dict>
				<key>value</key>
				<string>getLibelleSecretariat</string>
			</dict>
			<key>orderKeyPath</key>
			<string>toIndividu.getNomPrenomAffichage</string>
			<key>rowCssClass</key>
			<string>alignToLeft nowrap</string>
			<key>headerCssClass</key>
			<string>alignToLeft</string>
		</dict>
	</array>
</dict>
</plist>
