<webobject name = "Container">
<webobject name = "IsNotModeRA">
<webobject name = "Form">
Sélectionner le <webobject name = "NiveauBibasse"></webobject> sur lequel la prévision se fait :
<table>
<tbody>
    <tr>
        <td style="vertical-align:top"><webobject name = "OrganTree" /></td>
    </tr>
</tbody>
</table>
</webobject>
</webobject>
<webobject name = "IsModeRA">
    <webobject name = "HasLigneBudgetaire">
        La prévision pour cette convention RA doit se faire sur la ligne budgétaire : 
    <strong>
        <webobject name = "Ligne"></webobject>
    </strong>
    <webobject name = "AjoutPrevRA"></webobject>
    </webobject>
    <webobject name = "HasNoLigneBudgetaire">
        Selectionner la ligne budgétaire parente <webobject name = "Help"></webobject> : 
        <webobject name = "OrganTreeRA"></webobject>
    </webobject>
    <br/><br/>
</webobject>
</webobject>