<webobject name = "Container">
<table>
    <tbody>
        <webobject name = "Reparts">
        <webobject name = "Tr">
            <td>&nbsp;</td>
            <td style = "text-align:left;width:200px;">
                <webobject name = "Nomenclature"></webobject>
            </td>
            <td style = "text-align:right;">
                <webobject name = "MontantStr"></webobject>
            </td>
            <td style = "text-align:right;">
                <webobject name = "MontantPctStr"></webobject>%
            </td>
            <td>
                <webobject name = "Del"></webobject>
            </td>
        </webobject>
        </webobject>
        <tr>
            <td>
                <webobject name = "Filter"></webobject><webobject name = "FilterObs"></webobject>
            </td>
            <td>
                <webobject name = "HasGroup">
                    <webobject name = "Popup2"></webobject>
                 </webobject>
                 <webobject name = "HasNoGroup">
                    <webobject name = "Popup"></webobject>
                 </webobject>   
                 <webobject name = "PopupObs"></webobject>
            </td>
            <td>
                <webobject name = "Montant"></webobject><webobject name = "MontantObs"></webobject>
            </td>
            <td>
                <webobject name = "MontantPct"></webobject>%<webobject name = "MontantPctObs"></webobject>
            </td>
            <td>
                <webobject name = "Add"></webobject>
            </td>
        </tr>
    </tbody>
</table>
</webobject>