<webobject name = "ContainerNatureContratSelectionnee"><span><webobject name = "NatureContratSelectionnee"></webobject></span><span style="vertical-align:text-bottom;"><webobject name = "BtRechercher"/></span><webobject name = "DisplayDeleteButton"><span style="vertical-align:text-bottom;"><webobject name = "BtSupprimer"/></span></webobject></webobject>

  <webobject name = "NatureContratTreeView">
    <webobject name = "ContainerNatureContratTreeView">

		    <webobject name = "ContainerAjaxTree">	    
				<webobject name = "AjaxTree">
				  <webobject name = "NatureContratLink"/>
				</webobject>
			</webobject>			
		
	</webobject>
  </webobject>
  