<webobject name = "ContainerDetailConvention">
  <webobject name = "TabbedPanel">
    <webobject name = "IsTabGeneralites">
        <webobject name = "Generalites"/>
    </webobject>
    <webobject name = "IsTabPartenaires">
        <webobject name = "PartenairesEtContacts"></webobject>
    </webobject>
    <webobject name = "IsTabFinancement">
        <webobject name = "FinancementSimple"/>
    </webobject>
    <webobject name = "IsTabDepensesRecettes">
        <webobject name = "DepensesRecettes"></webobject>
    </webobject>
    <webobject name = "IsTabBudget">
        <webobject name = "IsModeSimple">
            <webobject name = "BudgetLightest"/>
        </webobject>
        <webobject name = "IsModeAvance">
            <webobject name = "BudgetLight"/>
        </webobject>
    </webobject>
    <webobject name = "IsTabEvenements">
        <webobject name = "Evenements"/>
    </webobject>
    <webobject name = "IsTabDocuments">
        <webobject name = "Documents"/>
    </webobject>
  </webobject>


  
    <div id="MyBusyDivID" style="display:none;">Chargement en cours ...</div>
</webobject>
