<div class = "positions">
    <webobject name = "PositionsTBV">
        <webobject name = "PositionsTBVToolBar">
            <webobject name = "AjoutPos"></webobject>
        </webobject>
    </webobject>
    <webobject name = "AjoutPosModal">
        <webobject name = "Form">
        <table>
            <tr>
               <td class = "label">Type de crédit</td>
               <td><webobject name = "TypeCreditPos"></webobject></td>
            </tr>
            <tr>
               <td class = "label">Sous CR</td>
               <td><webobject name = "SsCRPos"></webobject></td>
            </tr>
            <tr>
               <td class = "label">Montant</td>
               <td><webobject name = "MontantPos"></webobject></td>
            </tr>
        </table>
            <webobject name = "Enregistrer"></webobject>
        </webobject>
    </webobject>
</div>